modules = ["nodejs-22"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["cloudflared"]

[deployment]
run = ["sh", "-c", "npm run server:prod"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]

[[workflows.workflow]]
name = "Start application"
mode = "sequential"
author = 53033439

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
